<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Can - Quienes somos</title>
    <link rel="shortcut icon" href="../img/logo.png">
        <!-- Bootstrap -->
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <!-- Mi estilo -->
        <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    
    <div class="bg-gris py-1 px-4 text-center bg-amarillo" id="barraSuperior">
        <img src="../img/phone.svg" alt="nuestros telefono">
        Lamanos al 02914500000
        <img src="../img/home.svg" alt="direccion">
        Estamos en Alem 104
    </div>
    
    
    <!-- Empieza nav -->
    <nav class="navbar navbar-expand-lg navbar-light bg-gris py-1" id="botonera">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html"> 
                <img src="../img/logo.png" alt="Todo Can"> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="productos.html">TIENDA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="peluqueria.html">PELUQUERIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienes-somos.html">¿QUIENES SOMOS?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contactenos.html">CONTACTENOS</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main>
        <div class="breadcrumb">
            <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="../index.html">INICIO</a></li>
                    <li class="breadcrumb-item active" aria-current="page">¿QUIENES SOMOS?</li>
                </ol>
            </div>
        </div>

        <h1>Sobre Nosotros</h1>
        <section class="padding-principal">
            <p>Somos la primera tienda de Bahia Blanca especializada en productos y servicios para mascotas. Te damos una experiencia diferente de compra, 
                ofreciendo productos y servicios de alta calidad que cumplen con las necesidades de las mascotas y la satisfacción de sus dueños.
                En Todo Can reconocemos a las mascotas como un miembro más de la familia, a las que debemos cuidar, proteger, y brindar el mejor 
                cuidado para que tengan una excelente calidad de vida. Para ello ofrecemos la más amplia variedad en productos alimenticios, accesorios, farmacia, 
                servicios experimentados (veterinaria, peluquería), mascotas para adopción , y mucho más!
            </p>
        </section>

        <section>
            <h2>Nuestro equipo</h2>
            <div class="card-group">
                <div class="card" style="width: 15rem; margin-right:20px;">
                    <img src="../img/persona1.jpg" class="card-img-top" alt="Juan Perez">
                    <div class="card-body">
                        <p class="card-text">Juan Perez</p>
                    </div>
                </div>
                <div class="card" style="width: 15rem; margin-right:20px;">
                    <img src="../img/persona2.jpg" class="card-img-top" alt="Elena Lopez">
                    <div class="card-body">
                        <p class="card-text">Elena Lopez</p>
                    </div>
                </div>
                <div class="card" style="width: 15rem; margin-right:20px;">
                    <img src="../img/persona3.jpg" class="card-img-top" alt="Julieta Garcia">
                    <div class="card-body">
                        <p class="card-text">Julieta Garcia</p>
                    </div>
                </div>
                <div class="card" style="width: 15rem;">
                    <img src="../img/persona4.jpg" class="card-img-top" alt="Pablo Alvarez">
                    <div class="card-body">
                        <p class="card-text">Pablo Alvarez</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="bg-amarillo">
        <a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.png"
                alt="link a pagina de facebook">Facebook</a>
        <a href="http://www.instagram.com" target="_blank"> <img src="../img/instagram.png"
                alt="link a pagina de instagram">Instagram</a>
        <a href="http://www.twitter.com" target="_blank"><img src="../img/twitter.png"
                alt="link a pagina de twitter">Twitter</a>
        <a href="https://web.telegram.org/k/" target="_blank"><img src="../img/telegram.png"
                alt="link a pagina de telegram">Telegram</a>
    </footer>

    <script src="../js/bootstrap.min.js"></script>
</body>

</html>